*{
    box-sizing: border-box;

}

.div{
    display: block;
}

.body{
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}

.body{
    padding: 0;
    margin: 0;
    background: #fff;
}

.body{
    min-height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
}

.login_logo{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.login{
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_logo > img{
    width: 200px;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #111;
}
h5{
    color: #111;
}

.para{
    color: #111;
}

.login_container > form > input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    outline: none;
    width: 98%;
    border: 1px solid #111;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login_container > form > input.focus{
    border: 2px solid orange;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.login_container > p{
    margin-top: 15px;
    font-size: 12px;
    justify-content: justify;
}

a.int{
    cursor: pointer;
    color: #1167b1;
    text-decoration: none;
}

a.int:hover{
    color: #f3ce74;
    text-decoration: underline;
}

.login_signInButton{
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 1px solid;
    outline: none;
    background-color: #fba87e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    border-radius: 2px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #046a29;
    color: #111;
}

.login_registerButton{
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    outline: none;
    border: 1px solid;
    height: 30px;
    border-color: #111;
    border-style: outset;
    margin-top: 10px;
}

.login_container > h5{
    font-weight: 500;
    margin-bottom: 20px;
}

.login_container > form > h5{
    margin-bottom: 5px;
}

.need_help{
    width: 296;
    height: 19;
    cursor: pointer;
    color: #1167b1;
}

.need_help:hover{
    text-decoration: none;
    color: #f3ce74;
    text-decoration: underline;
}

.login_registerButton {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
    box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
  
.login_registerButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.a-size-mini{
width: 234;
height: 13;
color: #555555;
font-size: 11px;
}

.a-divider .a-divider-break {
    overflow: hidden;
    text-align: center;
    font-size:12px;
    color:rgb(138, 138, 138);
  }

  .a-divider .a-divider-break:before,
  .a-divider .a-divider-break:after {
    background-color: rgb(143, 143, 143);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .a-divider .a-divider-break:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .a-divider .a-divider-break:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .a-size-mini {
    font-size: 11px!important;
    line-height: 1.465!important;
}

.a-text-center {
    text-align: center!important;
}
